#include "corne.dtsi"

&matrix {
    row-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>,
                <&gpio1 4 GPIO_ACTIVE_LOW>,
                <&gpio1 3 GPIO_ACTIVE_LOW>;

	col-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>,
				<&gpio0 5 GPIO_ACTIVE_LOW>,
				<&gpio0 6 GPIO_ACTIVE_LOW>,
				<&gpio0 7 GPIO_ACTIVE_LOW>,
				<&gpio0 9 GPIO_ACTIVE_LOW>,  // Updated pin
				<&gpio0 2 GPIO_ACTIVE_LOW>;
};
