#include "corne.dtsi"

&matrix {
    row-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>,  // D0 - Row 0
                <&gpio0 29 GPIO_ACTIVE_LOW>, // D1 - Row 1
                <&gpio0 31 GPIO_ACTIVE_LOW>, // D2 - Row 2
                <&gpio0 4 GPIO_ACTIVE_LOW>,  // D3 - Row 3
                <&gpio0 5 GPIO_ACTIVE_LOW>,  // D4 - Row 4
                <&gpio0 3 GPIO_ACTIVE_LOW>;  // D5 - Row 5

    col-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>, // D6 - Col 0
                <&gpio0 30 GPIO_ACTIVE_LOW>, // D7 - Col 1
                <&gpio0 6 GPIO_ACTIVE_LOW>,  // D8 - Col 2
                <&gpio0 26 GPIO_ACTIVE_LOW>; // D9 - Col 3
};
