#include "corne.dtsi"

&matrix {
    row-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>,
                <&gpio1 4 GPIO_ACTIVE_LOW>,
                <&gpio1 3 GPIO_ACTIVE_LOW>;

    col-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>,  // C0
                <&gpio0 9 GPIO_ACTIVE_LOW>,   // C1
                <&gpio1 13 GPIO_ACTIVE_LOW>,  // C2
                <&gpio1 15 GPIO_ACTIVE_LOW>,  // C3
                <&gpio1 2 GPIO_ACTIVE_LOW>,   // C4
                <&gpio1 31 GPIO_ACTIVE_LOW>;  // C5 ← Replaces the broken pin
};
